/* Доп стили и шрифты */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;1,400;1,800&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding: 1rem;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass {
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.parallax {
    perspective: 1px;
    overflow-y: auto;

    background-image: url("bg-template.svg");
    background-size:contain;
}

.parallax-layer {
    position: absolute;
    inset: 0;
}

a.active {
    text-decoration: underline;
}

.h-text {
    font-family: 'Borel', cursive;
}