/* Доп стили и шрифты */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;1,400;1,800&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding: .5rem;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass {
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.parallax {
    perspective: 1px;
    overflow-y: auto;

    background-image: url("./assets/bg-template.svg");
    background-size:contain;
    background-attachment: fixed;
}

.parallax-layer {
    position: absolute;
    inset: 0;
}

a.active {
    text-decoration: underline;
}

.h-text {
    font-family: 'Borel', cursive;
}

.load {
    background-image: url(https://i.pinimg.com/originals/c7/e1/b7/c7e1b7b5753737039e1bdbda578132b8.gif);
    background-position: center;
    background-size: cover;
}

/* HTML: <div class="loader"></div> */

.loader {
    width: 70px;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    mix-blend-mode: darken;
    display: grid;
    filter: blur(4px) contrast(10) hue-rotate(270deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    animation: l2 6s infinite linear;
    background:  turquoise;
    border-radius: 50%;
  }
  
  .loader:after {
    animation-delay: 3s;
  }
  
  @keyframes l2 {
    0% {
      border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
    }
  
    12.5% {
      border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
    }
  
    25% {
      border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
    }
  
    37.5% {
      border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
    }
  
    50% {
      border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
    }
  
    62.5% {
      border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
    }
  
    75% {
      border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
    }
  
    87.5% {
      border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
    }
  
    100% {
      border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
    }
  }

  .st0{display:none;fill:#B9FAFE;}
	.st1{fill:#251E37;}
	.st2{fill:#2BBEC8;}
	.st3{fill:#3FC071;}
	.st4{fill:#7BD989;}
	.st5{fill:#FFFFFF;}
	.st6{fill:#A9B5C5;}
	.st7{fill:url(#SVGID_1_);}
	.st8{fill:#515DB1;}
	.st9{fill:#FBBECF;}
	.st10{fill:#E991AE;}
	.st11{fill:#472629;}
	.st12{fill:#D8526A;}